input {
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  height: 40px;
  box-sizing: border-box;
  background-color: transparent;
  text-align: center;
  border: rgb(0, 153, 255) 1.5px solid;
  border-radius: 25px;
  font-family: "Courier New";
  color: white;
  outline: none;
}
input:focus {
  border: rgb(0, 60, 255) 1.5px solid;
}
input:hover {
  box-shadow: 0px 0px 5px rgb(47, 200, 255);
}
form {
  width: 280px;
  margin: auto;
  background-color: rgb(18, 18, 18);
  box-shadow: 0px 0px 70px 5px black;
  padding: 45px 20px 45px 20px;
  border-radius: 25px;
  box-sizing: border-box;
  margin-top: 150px;
}
p {
  padding: 10px 10px 0px 10px;
  color: white;
  text-align: center;
}
.btns {
  display: flex;
  margin: auto;
}
.submitBtn {
  flex: 4;
  background-color: rgb(0, 153, 255);
  height: 35px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-family: "Courier New";
  width: 100px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin: 10px 5px 10px 5px;
}
.createBtn {
  background-color: rgb(0, 255, 187);
}
.joinBtn {
  background-color: rgb(0, 255, 94);
}
.createBtn:hover {
  cursor: pointer;
  background-color: rgb(74, 255, 207);
}
.joinBtn:hover {
  cursor: pointer;
  background-color: rgb(85, 255, 147);
}
